* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.jumbotron {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-55%);
  -moz-transform: translateX(-50%) translateY(-55%);
  -webkit-transform: translateX(-50%) translateY(-55%);
  transform: translateX(-50%) translateY(-55%);
  background: rgba(148,148,148, .2);
}

#header {
  font-family: seravek;
  text-align: center;
  color: white;
  margin: auto;
}

.icons {
  padding: 16px;
}

.icons li {
  display: inline;
}

.icons a {
  padding: 16px;
  text-decoration: none;
  color: white;
}

.icons a:hover, #skills h1 a {
  color: black;
}

.page-icons .link {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

.page-icons a:hover, #skills h1 a {
  color: black;
}

.btn-group-lg>.btn {
  padding-left: 45px;
  padding-right: 45px;
  background: rgba(148,148,148,.3);
}

.btn-group-lg>.btn:hover {
  background: white;
}

.btn {
  padding-left: 20px;
  padding-right: 20px;
}

.skillsbg {
  background-color:rgb(107,218,237);  
  min-height: 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.skillsheader {
  color: black;
  text-align: center;
  margin: 0 auto;
  width: 20%;
}

.skillList {
  color: black;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

ul {
 list-style: none;
}

.homebutton {
  margin-top: 20px;
  position: absolute;
  font-weight: lighter;
}